*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

header{
    height: 100px;
    width: 100%;
    align-items: center;
    box-shadow: 0px 3px 10px #464646;
    background-color: black;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    justify-content: center;

}

.menu{
    display:flex;
    align-items: center;
    

}

.menu ul{
    display: flex;
    justify-content: center;

}

.menu ul img{
    width: 50px;
    height: 50px;
}

.nav-item{
    margin:0 15px;


    
}
.nav-link img{
    border-radius: 25px;
}
.imagemrelogio{
    background: white;
}
.receita{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  
}
.receita img{

    width: 300px;
    height: 300px;
    padding: 20px;
   
}



.receitas{
    padding: 35px;
    border: black solid 2px;
   
}

body h1{
    justify-content: center;
    align-items: center;
    text-align: center;
}